<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Wedding</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link href="/css/style_inviation.css" rel='stylesheet' type='text/css' />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="/css/pogo-slider.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="preloader pulse">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/"><img style="width: 100%; height: 150px;" src="/images/logo-wedding.jpg" alt="image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="/">Trang chủ</a></li>
                        <li><a class="nav-link" href="#about">Giới thiệu</a></li>
                        <li><a class="nav-link" href="#story">Story</a></li>
                        <!-- <li><a class="nav-link" href="#family">Album Cưới</a></li> -->
                        <li><a class="nav-link" href="#gallery">Album</a></li>
                        <li><a class="nav-link" href="#events">SỰ KIỆN</a></li>
                        <!-- <li><a class="nav-link" href="#contact">Liên hệ</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" data-transition="zipReveal" data-duration="1500" style="background-image:url(/images/navbar/slide_1.jpg);background-position: center; background-size: cover; background-repeat: no-repeat;">
                        <div class="lbox-caption">
                            <div class="lbox-details">
                                <h1>Minh Đức & Cẩm Lài</h1>
                                <h2>Wedding day</h3>
                                    <p>Ngày :<strong style="color: #f06aa5 !important;"> 8 - 9/12/2022</strong></p>
                                    <a href="/inviation" class="btn ">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" data-transition="blocksReveal" data-duration="1500" style="background-image:url(/images/navbar/slide_2.jpg);background-position: center; background-size: cover; background-repeat: no-repeat;">
                        <div class="lbox-caption">
                            <div class="lbox-details">
                                <h1>Minh Đức & Cẩm Lài</h1>
                                <h2>Wedding day</h3>
                                    <p>Ngày<strong style="color: #f06aa5 !important;"> 8 - 9/12/2022</strong></p>
                                    <a href="/inviation" class="btn ">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" data-transition="shrinkReveal" data-duration="2000" style="background-image:url(/images/navbar/slide_3.jpg);background-position: center; background-size: cover; background-repeat: no-repeat;">
                        <div class="lbox-caption">
                            <div class="lbox-details">
                                <h1>Minh Đức & Cẩm Lài</h1>
                                <h2>Wedding day</h3>
                                    <p>Ngày<strong style="color: #f06aa5 !important;"> 8 - 9/12/2022</strong></p>
                                    <a href="/inviation" class="btn">Chi tiết</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <div style="align-items: center; text-align: center; padding-top: 20px;">
        <span>=========================================o0o=========================================</span> <br>
        <a href="/inviation" class="btn " style="background-color:#f06aa5; font-weight: bold;color: #fff; padding:8px 20px;">Chi tiết</a>

    </div>

    <!-- Start About us -->
    <div id="about" class="about-box">
        <div class="about-a1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2> Minh Đức <span>&</span> Cẩm Lài</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row align-items-center about-main-info">
                            <div class="col-lg-8 col-md-6 col-sm-12">
                                <h2><span>Cô dâu</span></h2>
                                <p>
                                    <ul>
                                        <li>Tên: <b>Trần Thị Cẩm Lài</b></li>
                                        <li>Ngày sinh: <i>27 / 06 / 2005</i></li>
                                        <li>Địa chỉ: Ấp Xóm Đồng I, xã Thới An Hội, Kế Sách - Sóc Trăng</li>
                                        <li>Thứ: Thứ nữ</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="about-img">
                                    <img class="img-fluid rounded" src="/images/codau_about.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center about-main-info">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="about-img">
                                    <img class="img-fluid rounded" src="/images/about_chuRe.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6 col-sm-12">
                                <h2><span>Chú rể</span></h2>
                                <p>
                                    <ul>
                                        <li>Tên: <b>Phan Minh Đức</b></li>
                                        <li>Ngày sinh: <i>24 / 02 / 2001</i></li>
                                        <li>Địa chỉ: Ấp 2A xã Phong Thạnh Tây B, huyện Phước Long - Bạc Liêu</li>
                                        <li>Thứ: Trưởng nam</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About us -->

    <!-- Start Story -->
    <div id="story" class="story-box main-timeline-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Our Story</h2>
                        <p>======================o0o=====================</p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            Tháng 7 năm 2020
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Bắt đầu...</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Ngày đầu tiên chúng tôi bắt đầu trò chuyện và làm quen với nhau thông qua kết bạn bằng mã QR zalo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            29 tháng 8 2020
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Ngày đầu tiên...</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Sau hơn 1 tháng làm quen chúng tôi quyết định chính thức yêu nhau...!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            24 tháng 10 2022
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">2 năm sau..!</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Và sau hơn 2 năm tìm hiểu nhau cùng nhau trải qua rất nhiều chuyện thì tôi và cô ấy quyết định về chung 1 nhà
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            30 - 31 tháng 12 2022
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Và...</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Bắt đầu một cuộc hành trình mới dành cho cả 2 bằng 1 đám cưới
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Story -->


    <!-- Start Gallery -->
    <div id="gallery" class="gallery-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Album</h2>
                        <p>------------------ Image ------------------</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="popup-gallery clearfix">
                    <li class="item_blbum">
                        <a href="/images/album/image_1.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_1.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_2.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_2.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_3.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_3.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_4.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_4.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_5.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_5.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_6.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_6.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_7.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_7.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_8.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_8.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_9.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_9.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_10.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_10.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_11.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_11.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="item_blbum">
                        <a href="/images/album/image_12.jpg">
                            <img class="img-fluid album_custom" src="/images/album/image_12.jpg" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Gallery -->

    <!-- Start Events -->
    <div id="events" class="events-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Sự kiện</h2>
                        <p>Các sự kiện chính trong lễ cưới... !</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="event-inner">
                        <div class="event-img">
                            <img class="img-fluid" src="https://mku.edu.vn/dist/2021/11/anh-dang-cap-nhat.jpg" alt="" />
                        </div>
                        <h2>Nhóm họ (Nhà trai)</h2>
                        <p>Nhắm họ chuẩn bị rước dâu Tối ngày 30 / 12 / 2022 (dương lịch)</p>
                        <a href="#" style="border-radius: 3px;">Chi tiết</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="event-inner">
                        <div class="event-img">
                            <img class="img-fluid" src="https://mku.edu.vn/dist/2021/11/anh-dang-cap-nhat.jpg" alt="" />
                        </div>
                        <h2>Lễ xuất giá (Nhà gái)</h2>
                        <p>Tối ngày 30 / 12 / 2022 nhằm ngày 8 / 12 / 2022 (âm lịch) cô dâu làm lễ xuất giá...</p>
                        <a href="#" style="border-radius: 3px;">Chi tiết</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="event-inner">
                        <div class="event-img">
                            <img class="img-fluid" src="https://mku.edu.vn/dist/2021/11/anh-dang-cap-nhat.jpg" alt="" />
                        </div>
                        <h2>Rước dâu và tiệc cưới</h2>
                        <p>Tiệc cưới bắt đầu vào sáng 9h ngày 31/12/2022</p>
                        <a href="#" style="border-radius: 3px;">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Events -->

    <!-- Start Contact -->
    <!-- <div id="contact" class="contact-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Liên hệ</h2>
                        <div class="contact_zalo-facebook">
                            <div class="contact_zalo" style="background-image: url('images/zalo.png');">
                                <a href="https://zalo.me/0855553991" class="contact_zalo-link"></a>
                            </div>
                            <span><b>OR</b></span>
                            <div class="contact_fb" style="background-image:url('images/fb.png')">
                                <a href="https://www.facebook.com/profile.php?id=100038528356389" target="_blank" class="contact_fb-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
    <!-- End Contact -->

    <!-- Start Footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-4 footer-grid">
                    <h4>Wedding <span>Đức</span></h4>
                    <ul class="bottom">
                        <li>Phone: 08 5555 3991</li>
                        <li>Có sẵn: 24/7</li>
                    </ul>
                </div>
                <div class="col-md-4 footer-grid">
                    <h4>Liên hệ <span>ngay </span></h4>
                    <ul class="bottom">
                        <li><i class="glyphicon glyphicon-home"></i>Có sẳn: 24/7 </li>
                        <li><i class="glyphicon glyphicon-envelope"></i><a href="https://zalo.me/0855553991">Zalo: Bấm vào đây..!</a></li>
                    </ul>
                </div>
                <div class="col-md-4 footer-grid">
                    <h4>Địa chỉ <span>cụ thể </span></h4>
                    <ul class="bottom">
                        <li><i class="glyphicon glyphicon-map-marker"></i>Ấp 2A, Phong Thạnh Tây B, Phước Long - Bạc Liêu </li>
                        <li><i class="glyphicon glyphicon-earphone"></i>Phone: 08 5555 3991 </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <p class="footer-company-name">Invalition wedding. &copy; 2022 Design By : <a href="https://html.design/"> Minh Đức</a></p>
    </div>

    <!-- End Footer -->

    <!-- ALL JS FILES -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.pogo-slider.min.js"></script>
    <script src="/js/slider-index.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>
